:root {
  --bg-main: #0f0f0f;
  --bg-secondary: #161616;
  --accent: #caa86b;
  --text-main: #f5f5f5;
  --text-muted: #b0b0b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(15, 15, 15, .85);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.nav {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--accent);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: .3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}
