:root {
  --bg-main: #0f0f0f;
  --bg-secondary: #161616;
  --accent: #caa86b;
  --text-main: #f5f5f5;
  --text-muted: #b0b0b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
}
